@font-face {
    font-family: 'Cleanvertising';
    src: local('Cleanvertising-Light'), url('../fonts/cleanvertising-light.woff2') format('woff2'), url('../fonts/cleanvertising-light.woff') format('woff'), url('../fonts/cleanvertising-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cleanvertising';
    src: local('Cleanvertising-Black'), url('../fonts/cleanvertising-black.woff2') format('woff2'), url('../fonts/cleanvertising-black.woff') format('woff'), url('../fonts/cleanvertising-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lobster';
    src: local('Lobster'), url('../fonts/lobster.woff2') format('woff2'), url('../fonts/lobster.woff') format('woff'), url('../fonts/lobster.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body{
	font-family: 'Cleanvertising';
	padding: 0px;
	margin: 0px;
}

header {
	background-image: url(../img/bgc.jpg);
	height: 100px;
	width: 100vw;
	background-position: center;
}

h1 {
	font-family: 'Lobster';
	font-size: 30pt;
	width: 30vw;
	background-color: #698940;
	color: #e1a930;
	height: 100px;
	line-height: 140px;
	padding: 0px;
	margin: 0px;
	padding-right: 30px; 
	text-align: right;
}

.hole_content {
	width: 1170px;
	margin: auto;
	min-height: 100vh;
	margin-bottom: 100px;
}

.hello {
	font-size: 15pt;
	text-align: center;
}

h3 {
	color: #e1a930;
}

.marg {
	margin-left: 20pt;
}

a:link	{
	text-decoration: none;
	color: #62ae00; 
}
a:visited	{
	text-decoration: none;
	color: #62ae00; 
}
a:active	{
	text-decoration: underline;
	color: #62ae00;
	 }
a:hover	{
	text-decoration: underline;
	color: #62ae00;
}

#second_task img.buy {
	width: 50px;	
	position: relative; 
    left: 100px; 
    right: 100px;
}

#second_task {
	width: 250px;
}

img.cake {
	width: 250px;
}

body.third_task {
	padding: 0px;
	margin: 0px;
}

#bottom {
	margin-bottom: 10px;
}
#example_1 {
	height: 100vh;
	width: 50vw;
    margin: auto;
	background-image: url(../img/bgc_cat.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#example_2 {
	height: 100vh;
	background-image: url(../img/bgc.jpg);
}

.footer{
	color: #e1a930;
	text-align: center;
	line-height: 100px;
	font-size: 25px;
	margin: 0px;
}

footer {
	height: 100px;
	background-color: #698940;
	width: 100vw;
	bottom: 0;
}