header {
	background-image: url(../img/bgc.jpg);
	height: 100px;
	width: 100vw;
	background-position: center;
	position: fixed;
	z-index: 2;
}
.inblock {
	width: 400px;
	height: 100vh;
	left: 50%;
	position: absolute;
	margin-left: -200px;
	margin-top: 100px;
	background-color: #e1a930;
	padding: 15px 20px 10px 20px;
	z-index: 1;
}