#main{
	height: 100vh;
	margin-top: 100px;
}

.my_element {
	margin-top: 100px;
	height: 100px;
	border: 2px solid #000;
}

.my_in_element {
	border-radius: 20px;
	border: 2px dashed white;
	height: 50px;
	background-color: green;
}